.header {
  height: 96px;
  display: flex;
  align-items: center;
}

.header nav a {
  margin-left: 50px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #343030;
}

.header nav a:hover {
  color: black;
}

#search {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  margin-left: auto;
}

#search input[type="text"] {
  width: 270px;
  padding: 12px 20px 12px 16px;
  border: 1px solid rgba(0, 0, 0, 0.26);
}

#search button {
  font-weight: bold;
  padding: 13px 36px;
  background-color: black;
  color: #fff;
}

#search button:hover {
  color: antiquewhite;
}